.identity-btn-box {
  margin-bottom: 16px;
}

.identity-btn {
  margin-right: 10px;
}

.identity-img {
  width: 50px;
  height: 50px;
  display: inline-block;
}

.crowd {
  padding: 24px;
  background-color: #fff;

  .action-bar {
    margin-bottom: 10px;
    .search-input {
      float: right;
      width: 300px;
    }
  }
}
