<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="author" content="yuanzhaohao">
<meta name="description" content="vue-gulp-webpack">
<meta name="format-detection" content="telephone=no,address=no,email=no">
<meta name="apple-touch-fullscreen" content="yes">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no" />
<script src="static/viewport.js"></script>
</head>
<body>
  <div id="app"></div>
</body>
</html>
